@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;

}

body {
    width: 100%;
}




header {
    width: 100%;
    min-height: 945px;
    background: url('../figma.img/2b2f8787985cabb6920eaaeecfea44bd6b5ef5d8.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.nvcls0 {
    display: flex;
    top: 0;
    justify-content: end;
}


.nvcnt ul {
    display: flex;
    gap: 35px;

}


.nvcnt {
    /* width: 150px; bu belə olmamalədər */
    height: 25px;
    padding: 8px;

    color: rgb(14, 13, 13);
    display: flex;



}

.nvctl {
    display: inline-block;
    margin-top: 45px;


}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}

input {
    width: 91px;
    height: 40px;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 10px;
    background-color: #F84646;
    color: aliceblue;
    border: none;
    margin-top: 35px;


}

.text {
    width: 30%;
    font-size: 30px;
    margin: 10%;

}

.button {
    display: flex;
    align-items: center;
    padding: 40px;


}




.inpc {
    position: relativ;

    background-color: aliceblue;
    width: 25%;
    height: 50px;
    margin-left: 5%;
    color: #666;
    font-size: 16px;
    border: none;

}

.inpcl {
    position: absolute;
    background-color: #F84646;
    color: rgb(206, 206, 206);
    left: 25%;
    border: none;
}

/*heading end*/


/* main star*/


.content {
    width: 88vw;
    height: 850px;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;

}



.benefits_cntr {
    display: flex;
    flex-wrap: wrap;
    gap: 15%;


    /* column-gap: 6%; */

}


.prgrf2 {
    width: 50%;
    height: 5%;
    font-size: 20px;
    padding-top: 4%;
    padding-left: 20%;
    padding-bottom: 3%;


}

.prgrf1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bnft_cntr_item_logo {
    width: 60px;
    height: 50px;



}

/* h2{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hdr3 {
    width: 45px;
    height: 60px;

}

.benefits_cntr_item {
    width: 15%;
    height: 15%;




}

h4 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}



.layout {
    background-color: #F84646;
    width: 100%;
    height: 270px;

}

h4 {
    font-size: 25px;
}

.prgcls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;

}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.clsm {

    display: flex;
    flex-wrap: nowrap;
    height: 700px;
}



h3 {
    padding-top: 5%;
    padding-left: 5%;
    font-size: 30px;
    width: 18%;
}

.clsm1 {
    color: gray;
    width: 520px;
    height: 160px;
    padding-left: 5%;
    padding-top: 5%;

}
h3{
    left: 55px;
}

.btn1 {


    width: 55px;
    height: 25px;


}

.dvimg .clsimg {

    width: 300px;
    height: 255px;
   padding-top: 70px;
}




/* .clsimg{
 width: 30%;
 height:  25%;
left: 60px;

} */



/*----------------------@media-screen and----------------------*/
/*@media screen and (min-width: 1400px){

}


@media screen and (min-width: 972px){

    
}
@media screen and (min-width: 768px){

    
}

@media screen and (min-width: 320px){

    
}

/*/